@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
}

/* make images and video elements responsive */
img,video{width: auto; max-width: 100%; height: auto; margin: 0 auto 1em;}

body{
	width:100%;
	margin:0 auto;
	line-height:1.5;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/00.jpg);
}
p{
	font-size:0.9em;
	padding-top:0.5em;
	line-height:1.5em;
}
header h1{
	text-align:center;
	font-weight:bold;
	padding-top:1em;
	font-size:2.5em;
	color:#fff;
	line-height:1.2em;
	font-family:'Abril Fatface'; 
}

/*---------------------------------
body styles
---------------------------------*/
.home{
	width:95%;
	/* margin:0 auto; */
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	padding:3% 3%;
	opacity:0.8;
	border-radius:6px;
}
h4{
	text-align:center;
	font-weight:900;
	font-size:1.8em;
	font-family: 'Marcellus SC', serif;
	color:#309;
}

/* intrduction page*/
#intrduction{
    background-color:#FF9;
	font-size:1.1em;		
}
strong{
	font-weight:900;
}
.info{
	padding-bottom:1.2em;
}
h2{
	font-weight:900;
	line-height:0.5em;
	color:#f63;
}

/*featuredspeakers page*/
#featuredspeakers{
	background-color:#FFF;
}
#featuredspeakers p{
	padding-top:1.6em;
}
.speaker{
	padding-top:0.6em;
	padding-bottom:4em;
    border-bottom:2px solid #FC6;
}
.speakerlast{
	padding-top:0.6em;
	padding-bottom:1.3em;
}
img{
	float:left;
	padding-top:0.4em;
	padding-right:0.5em;
	border-radius:5em;
}
h3{
	color:#f63;
	font-weight:900;
	text-align:center;
}
span{
	font-style:italic;
	font-size:0.9em;
	font-weight:500;
}

/*workshop page*/
#workshop{
	background-color:#CFC;
}
h5{
	color:#f63;
	font-weight:900;
	line-height:1em;
}
.artItem{
	padding-bottom:1em;
	padding-top:0.5em;
}


/*----------------------------
footer styles
-----------------------------*/
footer{
	text-align:center;
	font-size:0.8em;
	color:#fff;
	margin-bottom:0.8em;
}
#bmcc{
	font-size:2.2em;
	font-weight:bold;
	margin-top:0.5em;
	font-family:'Abril Fatface'; 
}
#address{
	font-size: 1.2em;
	font-weight:bold;
	margin-top:-0.5em;
	margin-bottom:1em;
}


/* ---------------------------------
Navigation Styles
----------------------------------- */
#main_nav{
  clear:both;
}  

#main_nav ul{
  list-style: none;
}

#main_nav li a{
  display:block;
  color:#FFF;
  background-color:#F99;
  text-transform: uppercase;
  padding: 0.4em; /* 10/16 */
  text-decoration:none;
  border-bottom:1px solid;
  font-weight:800; 
}

#main_nav li a:hover{
  color:#ff9840;
  background-color: #fff;
}
  
/* menu button */
.menu a{
  padding:0.5em 0.625em; /*10/16 */
  background-color:#F99;
  color:#fff;
  text-decoration:none;
  font-weight:800;
}
#menu-button{
	margin-bottom:1.5em;
	margin-top:1em;
}
.top a{
  padding:0.5em 0.625em; /*10/16 */
  background-color:#F99;
  color:#fff;
  text-decoration:none;
  font-weight:800;
}
.top{
	margin-top:3em;
	margin-bottom:-0.75em;
}
.container{
	margin-top:1em;
}